<body>
  <div class="login">
    <div class="form-div">
      <div class="text-container">
        <h3>Shipping address</h3>
      </div>
      <input type="text" placeholder="Full name"/>
      <input type="text" placeholder="Address"/>
      <input type="text" placeholder="City"/>
      <input type="text" placeholder="Zip code"/>
      <input type="text" placeholder="Country"/>
    </div>
  </div>
  <div class="summary">
    <div class="summary-text-div">
      <p class="summary-text">Subtotal: $40.00</p>
      <p class="summary-text">Shipping: $10.00</p>
      <div class="line"></div>
      <p class="summary-total">Total: $50.00</p>
    </div>
    <button class="button-div" routerLink="/checkout">
      <i  class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</body>
