body {
  background-color: #fff;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 80%;
  min-width: 80%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image-div {
  display: flex;
  margin-right: 2rem;
  align-items: center;
  justify-content: center;
  flex: 2;
  width: 50vw;
  max-width: 50vw;
  overflow: hidden;
  height: 100%;
}

.details-div {
  flex: 1;
  margin-left: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  width: 50vw;
  max-width: 50vw;
  height: 100%;
}

img {
  border-radius: 2rem;
  max-width: 100%;
  max-height: 100%;
}

h1 {
  text-align: center;
  color: #4e4e4e;
  text-transform: capitalize;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin: 1rem;
  color: #4e4e4e;
  text-transform: capitalize;
  font-weight: bold;
}

h4 {
  text-align: center;
  margin: 1rem;
  color: #4e4e4e;
  text-transform: capitalize;
  font-weight: bold;
}

p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.25rem;
  color: #4e4e4e;
}

.buy-now-btn {
  font-size: 1.2rem;
  font-weight: bold;
  height: 4rem;
  margin: 0.5rem;
  width: 100%;
  background-color: #3c5fa9;
  border: none;
  color: #ffffff;
  border-radius: 2rem;
  &:active {
    background-color: #3c5fa97f;
    transition: 0.3s;
  }
  &:hover{
    background-color: #3c5fa97f;
    transition: 0.2s;
  }
}
.add-cart-btn {
  font-size: 1.2rem;
  font-weight: bold;
  height: 4rem;
  margin: 0.5rem;
  width: 100%;
  background-color: #c3c3c3;
  border: none;
  color: #ffffff;
  border-radius: 2rem;
  &:active {
    background-color: #3c5fa97f;
    transition: 0.3s;
  }
  &:hover{
    background-color: #d2d2d27f;
    transition: 0.2s;
  }
}
