<body>
  <div class="img-div">
    <img class="background" src="../../../../assets/fundor.jpg" alt="">
  </div>
  <div class="login">
    <div class="form-div">
      <h2>Welcome!</h2>
      <input type="text" placeholder="Name" [(ngModel)]="username" name="username">
      <input type="text" placeholder="Email" [(ngModel)]="email" name="email">
      <input type="password" placeholder="Password" [(ngModel)]="password" name="password">

      <button class="login-btn" (click)="register()">Create account</button>

      <p class="create-acc">Already got an account? <button class="forgot-pass" routerLink="/login">Log in</button></p>

    </div>
  </div>
</body>
