<body>
  @if (basketService.cartSource$ | async; as basket){
    <div class="login">
    <div class="form-div">
      <div class="text-container">
        <h3>Billing information</h3>
      </div>
      <div class="info-container" [formGroup]="checkoutForm">
        <div class="paymentForm" formGroupName="paymentForm">
          <input type="text" placeholder="Name on card" formControlName="nameOnCard"/>
        </div>
        <div class="stripe-container">
          <div class="input-box">
            <div class="form-control" #cardNumber></div>
          </div>
          <div class="input-box">
            <div class="form-control" #cardExpiry></div>
          </div>
          <div class="input-box">
            <div class="form-control" #cardCvc></div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="summary">
    <div class="summary-text-div">
      <p class="summary-text">Subtotal: {{ getSubtotal(basket.items) | currency }}</p>
      <p class="summary-text">Shipping: $10.00</p>
      <div class="line"></div>
      <p class="summary-total">Total: {{getTotal(basket.items) | currency}}</p>
    </div>
    <button class="button-div" routerLink="/confirmation">
      <i  class="fa-solid fa-check"></i>
    </button>
  </div>
  }
</body>
