<body>
  @if (basketService.cartSource$ | async; as basket){
    <div class="login">
    <div class="form-div">
      <div class="text-container">
        <h3>Billing information</h3>
      </div>
      <input type="text" placeholder="Name on card" required/>
      <input type="text" placeholder="Card number" required/>
      <input type="text" placeholder="Expiration date"required/>
      <input type="text" placeholder="CVC" required/>
    </div>
  </div>
  <div class="summary">
    <div class="summary-text-div">
      <p class="summary-text">Subtotal: {{ getSubtotal(basket.items) | currency }}</p>
      <p class="summary-text">Shipping: $10.00</p>
      <div class="line"></div>
      <p class="summary-total">Total: {{getTotal(basket.items) | currency}}</p>
    </div>
    <button class="button-div" routerLink="/confirmation">
      <i  class="fa-solid fa-check"></i>
    </button>
  </div>
  } 
</body>
