<body>
  <div class="img-div">
    <img class="background" src="../../../../assets/fundor.jpg" alt="">
  </div>
  <div class="login">
    <div class="form-div">
      <h2>Welcome back</h2>
      <input type="text" placeholder="Email" name="email" [(ngModel)]="email">
      <input type="password" placeholder="Password" name="password" [(ngModel)]="password">
      <button class="login-btn" (click)="login()">Login</button>
      <h6>Or</h6>
      <div class="google-facebook-div">
        <button class="socials-btn"><img src="../../../../assets/google.png" class="logo"></button>
        <button class="socials-btn"><img src="../../../../assets/facebook (2).png" class="fb-logo"></button>
      </div>
      <button class="forgot-pass">Forgot your password?</button>
      <p class="create-acc">New here? <button class="forgot-pass" routerLink="/register">Create an account</button></p>

    </div>
  </div>
</body>

