body{

}
.img-div{
  width: 100vw;
  overflow: hidden;
  height: 25vh;
}
.pfp-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 7rem;
  height: 7rem;
  border-radius: 4rem;
  background-color: #3c5fa9;
  top: 3rem;
  left: 50%;
  top: 6.5rem;
  transform: translate(-50%, -50%);
}
.pfp-text {
  color: #ffffff;
  font-size: 4rem;
  text-align: center;
  height: fit-content;
  font-weight: bold;
}
.background{
  width: 100%;
  height: auto;

}
.email-line {
  color: #4e4e4e;
  margin: 0;
}
.login{
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 5;
  width: 100vw;
  height: 70vh;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.info-div{
  margin-top: -2.75rem;
  padding: 1rem;

}
.display-name {
  margin-bottom: 2rem;
}
.name-div {
  background-color: #f5f5f5;
  padding: 0.75rem;
  padding-left: 1rem;
  border-radius: 1rem;
}
h3 {
  color: #4e4e4e;
}
h4 {
  color: #4e4e4e;
}
h5 {
  color: #4e4e4e;
  margin-bottom: 0.5rem;
}
h6 {
  color: #4e4e4e;
}
.form-div{
  padding: 10%;

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
input{
  background-color: #f5f5f5;
  border: none;
  height: 3rem;
  width: 100%;
  padding-left: 5% ;
  border-radius: 1rem;
  margin: 0.5rem;

    &:focus{
      outline: none
    }
}
h2{
  color: #3c5fa9;
  align-self: flex-start;
  margin-bottom: 10%;
}

.logout-btn{
  bottom: 5rem;
  position: fixed;
  font-size: 1.2rem;
  height: 3rem;
  margin: 0.5rem;
  width: 90%;
  background-color: #3c5fa9;
  border: none;
  color: #ffffff;
  border-radius: 1rem;
  &:active{
    background-color: #3c5fa97f;
    transition: 0.3s;
  }
}
h6{
  color: #ababab;
  margin: 0.5rem;
}




