<body>
  <div class="img-div">
    <div class="pfp-div">
      <h1 class="pfp-text">{{firstLetter}}</h1>
    </div>
    <img class="background" src="../../../../assets/fundor.jpg" alt="" />
  </div>
  <div class="login">
    <div class="info-div">
      <h3 class="display-name">{{userData?.displayName}} </h3>
      <h4>Personal information:</h4>
      <div class="name-div">
        <h6 class="email-line">{{userData?.firstName}} {{userData?.lastName}} </h6>
        <h6 class="email-line">{{userData?.email}} </h6>
      </div>
      <br>
      <h4>My address:</h4>
      <div class="name-div">
        <p>
          {{userData?.street}}, {{userData?.city}}, {{userData?.state}}, {{userData?.country}} {{userData?.zipCode}}
        </p>
      </div>
      <br>
      <!-- <h4>My orders:</h4>
      <div class="name-div">
        nanananan
        <br/>
        nanananna
      </div> -->
    </div>

    <div class="form-div">
      <h2></h2>
      <div class="info-container"></div>
      <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
  </div>
</body>
