<body>
  <div class="text-container">
    <h3>You have 3 items in your shopping cart</h3>
  </div>
  <div class="notifs">
    <div class="products-container">
      <div class="product-cart-card">
        <div class="img-container">
          <!-- <img src="../../../../assets/phone.jpg" alt=""> -->
        </div>
        <div class="info-container">
          <p class="title">Galaxy pocket insano</p>
          <p class="description">Celular velho meio horrivel</p>
          <p class="price">$40</p>
        </div>
      </div>
    </div>
    <div class="summary">
      <div class="summary-text-div">
        <h4 class="summary-text">Summary</h4>
        <p class="summary-values">Subtotal: $40.00</p>
        <p class="summary-values">Shipping: $10.00</p>
        <div class="line"></div>
        <p class="summary-total">Total: $50.00</p>
      </div>
      <div class="button-div">
        <h4>Proceed to checkout</h4>
      </div>
    </div>
  </div>
</body>
