body {
  background-color: #fff;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container{
  flex: 1;
  display: flex;
  flex-direction: row;
}

.page-title{
  margin-bottom: 4rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 4rem;

}
h3 {
  font-size: 2.5rem;
  color: #3c5fa9;
}
.products-container {
  flex: 1;
  position: relative;
  width: 40vw;
  height: 100%;
}
.product-cart-card {
  flex: 3;
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  color: #4e4e4e;
  align-items: flex-start;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;
}
.img-container {
  width: 10rem;
  min-width: 10rem;
  height: 10rem;
  min-height: 10rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

img{
  width: 100%;
  height: 100%;
}

.info-container{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: flex-start;
  padding-top: 0.3rem;
  width: 100%;
  height: 10rem;
  line-height: 0.5;
}

.top-line{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  text-align: left;
}

.title{
  flex: 1;
  font-weight: bold;
  line-height: 0.75;
  margin-top: 0.25rem;
  margin-bottom: 1.25rem;
}

.plusminus{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #4e4e4e;
  justify-self: right;
  font-size: 1.25rem;
  width: 3rem;
}

i{
  &:hover{
    color: #3c5fa9;
    transition: 0.2s;
  }
}

.description{
  text-align: left;
  height: 100%;
  max-width: 100%;
  max-height: 6rem;
  line-height: 1.2;
  overflow: hidden;
}

.quantity{
  font-size: 1.5rem;
  position: absolute;
  font-weight: bold;
  bottom: 0;
  right: 0.5rem;
  margin-bottom: 0.5rem;
}

.price{
  font-size: 1.5rem;


  align-self: flex-start;
  text-align: end;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.summary{
  text-align: left;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  width: 17.5vw;
  height: fit-content;
  border-radius: 1rem;
  background-color: #f5f5f5;
  color: #4e4e4e;
}

.summary-text-div{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 0.7;
  justify-content: center;

}
.line{
  background-color: #3c5fa9;
  height: 1px;

}
.summary-total{
  margin-top: 0.7rem;
  font-weight: bold;
}
.button-div{
  margin: 1rem;
  align-self: center;
  display: flex;
  border-radius: 0.6rem;
  flex-direction: row;
  justify-content: center;
  background-color: #3c5fa9 ;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  width: 90%;
  height: 3rem;


  &:hover {
    background-color: #3c5fa97f;
    transition: 0.2s;
  }
}

.clear-btn {
  background: none;
  outline: none;
  border: none;
  font-size: large;
  color: #3c5fa9;
  position: absolute;
  right: 0.25rem;
  top: -2rem;
  &:hover{
    color: #3c5fa97f;
    transition: 0.2s;
  }
  &:active{
    color: #fff;
  }
}

h4{
  user-select: none;
}
.summary-text{
  margin-bottom: 2rem;
}


