<body>
  @if ((basketService.cartSource$ | async) === null) {
  <div class="text-container">
    <h3 class="page-title">Your cart is empty 🤕</h3>
  </div>

  } @else { @if (basketService.cartSource$ | async; as basket) {
  <div class="text-container">
    <h3 class="page-title">
      You have {{ getCount(basket.items) }} items in your shopping cart
    </h3>

    <div class="container">

      <div class="products-container">
        <button class="clear-btn" (click)="deleteBasket(basket)">Clear basket</button>
        @for (item of basket.items; track $index) {
        <div class="product-cart-card">
          <div class="img-container" routerLink="/{{ item.id }}">
            <img src="{{ item.imgUrl }}" />
          </div>
          <div class="info-container">
            <div class="top-line">
              <h5 class="title" routerLink="/{{ item.id }}">{{ item.name }}</h5>
              <div class="plusminus">
                <i class="fa fa-minus" (click)="removeItem(item.id)"></i>
                <i class="fa fa-plus" (click)="incrementQuantity(item)"></i>
              </div>
            </div>

            <p class="description" routerLink="/{{ item.id }}">{{ item.description }}</p>
            <p class="quantity">x{{ item.quantity }}</p>
            <p class="price">${{ item.price }}</p>
          </div>
        </div>
        }
      </div>
      <div class="summary">
        <div class="summary-text-div">
          <h3 class="summary-text">Summary</h3>
          <h5 class="summary-values">
            Subtotal: {{ getSubtotal(basket.items) | currency }}
          </h5>
          <h5 class="summary-values">Shipping: $10.00</h5>
          <div class="line"></div>
          <h5 class="summary-total">Total: {{getTotal(basket.items) | currency}} </h5>
        </div>
        <div class="button-div" routerLink="/checkout">
          <h4>Proceed to checkout</h4>
        </div>
      </div>
    </div>
  </div>
  } }
</body>
