<body>
  <div class="likes-container">
    <div class="likes-title">
      <h3>You have 4 products on your wishlist</h3>
    </div>
    <div class="products-container">
      <!-- <app-card/>
  <app-card/>
  <app-card/>
  <app-card/>
  <app-card/>
  <app-card/>
  <app-card/>
  <app-card/>
  <app-card/>
  <app-card/>
  <app-card/>
  <app-card/> -->
      <div class="card-div">
        <div class="img-container">
          <img src="../../assets/phone.jpg" alt="galaxy pocket neo" />
        </div>
        <div class="info-container">
          <p class="pName">Galaxy pocket insano</p>
          <p class="pDescription">$40</p>
        </div>
      </div>
      <div class="card-div">
        <div class="img-container">
          <img
            src="../../assets/pexels-pixabay-270640.jpg"
            alt="galaxy pocket neo"
          />
        </div>
        <div class="info-container">
          <p>Galaxy pocket insano</p>
        </div>
      </div>
      <div class="card-div">
        <div class="img-container">
          <img
            src="../../assets/pexels-lumn-322207.jpg"
            alt="galaxy pocket neo"
          />
        </div>
        <div class="info-container">
          <p>Galaxy pocket insano</p>
        </div>
      </div>
      <div class="card-div">
        <div class="img-container">
          <img
            src="../../assets/pexels-pixabay-532173.jpg"
            alt="galaxy pocket neo"
          />
        </div>
        <div class="info-container">
          <p>Galaxy pocket insano</p>
        </div>
      </div>
      <div class="card-div">
        <div class="img-container">
          <img src="../../assets/phone.jpg" alt="galaxy pocket neo" />
        </div>
        <div class="info-container">
          <p>Galaxy pocket insano</p>
        </div>
      </div>
      <div class="card-div">
        <div class="img-container">
          <img src="../../assets/phone.jpg" alt="galaxy pocket neo" />
        </div>
        <div class="info-container">
          <p>Galaxy pocket insano</p>
        </div>
      </div>
      <div class="card-div">
        <div class="img-container">
          <img src="../../assets/phone.jpg" alt="galaxy pocket neo" />
        </div>
        <div class="info-container">
          <p>Galaxy pocket insano</p>
        </div>
      </div>
      <div class="card-div">
        <div class="img-container">
          <img src="../../assets/phone.jpg" alt="galaxy pocket neo" />
        </div>
        <div class="info-container">
          <p>Galaxy pocket insano</p>
        </div>
      </div>
      <div class="card-div">
        <div class="img-container">
          <img src="../../assets/phone.jpg" alt="galaxy pocket neo" />
        </div>
        <div class="info-container">
          <p>Galaxy pocket insano</p>
        </div>
      </div>
      <div class="card-div">
        <div class="img-container">
          <img src="../../assets/phone.jpg" alt="galaxy pocket neo" />
        </div>
        <div class="info-container">
          <p>Galaxy pocket insano</p>
        </div>
      </div>
    </div>
  </div>
</body>
