<body>
  @if ((basketService.cartSource$ | async) === null) {
  <div class="text-container2">
    <h3 class="page-title">Your cart is empty 🤕</h3>
  </div>

  } @else { @if (basketService.cartSource$ | async; as basket) {
  <div class="text-container">
    <h3 class="page-title">
      You have {{ getCount(basket.items) }} items in your shopping cart
    </h3>

    <div class="container">
      <div class="products-container">
        <button class="clear-btn" (click)="deleteBasket(basket)">
          Clear basket
        </button>
        @for (item of basket.items; track $index) {
        <div class="product-cart-card" >
          <div class="img-container" routerLink="/{{ item.id }}">
            <img src="{{ item.imgUrl }}" />
          </div>
          <div class="info-container">
            <div class="top-line">
              <h5 class="title" routerLink="/{{ item.id }}">{{ item.name }}</h5>
              <div class="plusminus">
                <i class="fa fa-minus" (click)="removeItem(item.id)"></i>
                <i class="fa fa-plus" (click)="incrementQuantity(item)"></i>
              </div>
            </div>
            <p class="quantity">x{{ item.quantity }}</p>
            <p class="price">${{ item.price }}</p>
          </div>
        </div>
        }
      </div>


    </div>
  </div>
  <div class="summary">
    <div class="summary-text-div">
      <p class="summary-text">Subtotal: {{ getSubtotal(basket.items) | currency }}</p>
      <p class="summary-text">Shipping: $10.00</p>
      <div class="line"></div>
      <p class="summary-total">Total: {{getTotal(basket.items) | currency}}</p>
    </div>
    <button class="button-div" routerLink="/checkout">
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
  } }
</body>
