body {
  background-color: #fff;
  padding: 1rem;
  margin-left: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 1rem;
  margin-bottom: 2rem;
}

h3 {
  color: #3c5fa9;
}
.products-container {
  flex: 1;
  width: 100%;
  height: 100%;
}
.product-cart-card {
  flex: 3;
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  color: #4e4e4e;
  align-items: flex-start;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;

}
.img-container {
  background-color: #3c5fa9;
  width: 5rem;
  min-width: 5rem;
  height: 5rem;
  min-height: 5rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
}
.info-container{
  padding-top: 0.3rem;
  width: 100%;
  line-height: 0.5;
}
.title{
  font-weight: bold;
  line-height: 0.75;
}
.price{
  font-size: 1.5rem;
}
.summary{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10rem;
  color: #4e4e4e;
  background-color: #f5f5f5;
}

.summary-text-div{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  padding-left: 1rem;
  line-height: 0.7;
  justify-content: center;
  padding-bottom: 3rem;
}
.line{
  background-color: #3c5fa9;
  height: 1px;

}
.summary-total{
  margin-top: 0.7rem;
  font-weight: bold;
}
.button-div{

  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #3c5fa9 ;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  width: 7rem;
  height: 7rem;
  border: none;

   &:active{
    background-color: #3c5fa97f;
    transition: 0.3s;
  }
}

p {
  color: #666666;
}
