<body>
  <div class="img-div">
    <div class="pfp-div"></div>
    <img class="background" src="../../../../assets/fundor.jpg" alt="" />
  </div>
  <div class="login">
    <div class="info-div">
      <h4>Joaozinho</h4>
      <br />
      <h5>Address</h5>
      <p>
        Rua ifjirjfirjfjir ifrjijri <br />Florianópolis, Brazil<br />88026206
      </p>
    </div>

    <div class="form-div">
      <h2></h2>
      <div class="info-container"></div>
      <button class="login-btn" (click)="logout()">Logout</button>
    </div>
  </div>
</body>



