<body>
  @if (basketService.cartSource$ | async; as basket){
  <div class="text-container">
    <h3>Fill in the payment information</h3>
  </div>
  <div class="notifs">
    <div class="products-container">
      <div class="product-cart-card">
        <div class="info-container" [formGroup]="checkoutForm">
          <div class="paymentForm" formGroupName="paymentForm">
            <input type="text" placeholder="Name on card" formControlName="nameOnCard"/>
          </div>
          <div class="stripe-container">
            <div class="d2">
              <div class="form-control" #cardNumber></div>
            </div>
            <div class="d1">
              <div class="form-control" #cardExpiry></div>
            </div>
            <div class="d1">
              <div class="form-control" #cardCvc></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="summary">
      <div class="summary-text-div">
        <h4 class="summary-text">Summary</h4>
        <p class="summary-text">
          Subtotal: {{ getSubtotal(basket.items) | currency }}
        </p>
        <p class="summary-text">Shipping: $10.00</p>
        <div class="line"></div>
        <p class="summary-total">
          Total: {{ getTotal(basket.items) | currency }}
        </p>
      </div>
      <button class="button-div" (click)="submitOrder()">
        <h4>Confirm payment</h4>
      </button>
    </div>
  </div>
  }
</body>
