<body>
  <div class="text-container">
    <h3>Fill in the payment information</h3>
  </div>
  <div class="notifs">
    <div class="products-container">
      <div class="product-cart-card">
        <div class="info-container">
          <input type="text" placeholder="Name on card" />
          <input type="text" placeholder="Card number" />
          <input type="text" placeholder="Expiration date" />
          <input type="text" placeholder="CVC" />
        </div>
      </div>
    </div>
    <div class="summary">
      <div class="summary-text-div">
        <h4 class="summary-text">Summary</h4>
        <p class="summary-values">Subtotal: $40.00</p>
        <p class="summary-values">Shipping: $10.00</p>
        <div class="line"></div>
        <p class="summary-total">Total: $50.00</p>
      </div>
      <div class="button-div" routerLink="/confirmation">
        <h4>Confirm payment</h4>
      </div>
    </div>
  </div>
</body>
